
<div style="width:30%;height:400px;float:left;border:1px solid red;margin-top: 20px;margin-left: 20px;">
<img src="/assets/maxresdefault1.jpg" width="400" height="400"  />
</div>
<div style="width:67%;height: 400px;float:left;border:1px solid red;margin-top: 20px;">
<iframe width="400" height="400" src="https://www.youtube.com/embed/c8Of-nqcylo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="400" height="400" src="https://www.youtube.com/embed/c8Of-nqcylo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>