<h1>Home#services</h1>
<script type="text/javascript">
	
function validate()
{
     if(document.getElementById("txtname").value.length==0)
     {
     	alert("name is required");
     	return false;
     }
     else if(!isNaN(document.getElementById("txtname").value))
     {
     	alert("name should be aphabetical");
     	return false;
     }
     else if(!document.getElementById("course1").checked)
     {
     	alert("choose course");
     	return false;
     }

}


</script>
<center>
<form action="/home/servicelogic" name="frm1"  method="get">

Enter Name
<br>
<input type="text" name="txtname" id="txtname"  />
<br>
Higher Qualification
<br>
<input type="radio" name="course1" value="12th" id="course1" />12th
<br>
<input type="radio" name="course1" value="BCA" id="course2" />Graduate
<br>
<input type="radio" name="course1" value=MCA" id="course3" />POST Graduate
<br>
Courses
<br>
<input type="checkbox" name="course[]" value="C" checked="false"   />C
<br>
<input type="checkbox" name="course[]" value="CPP" checked="false"  />CPP
<br>
<input type="checkbox" name="course[]" value="Python" checked="false"   />Python
<br>
Select Location
<br>
<select name="location">
<option value="VijayNagar">VijayNagar</option>
<option value="Palasia">Palasia</option>
<option value="Bhawarkua">Bhawarkua</option>
</select>
<br>
<br>
Interested Course 
<br>
<select name="location[]" multiple="true">
<option value="Certification">Certification</option>
<option value="Job Oriented">Job Oriented</option>
<option value="Database Courses">Database Courses</option>
</select>
<br>
<input type="submit" name="btnsubmit" value="Click" onclick="return validate()"  />


</form>
</center>
